#macro(PAGE_TOP)
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<meta name="description" content="timgise.com">
<meta name="keywords" content="nutz">
<title>Velocity模板引擎宏 ${base}</title>
</head>
<body>
#end




#macro(PAGE_BOTTOM)
<div>这是底部</div>
</body>
</html>
#end